# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,platformio
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,platformio

# PlatformIO
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
node_modules/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# MkDocs
site/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDEs & Editors
.idea/
*.code-workspace
*.swp
*.swo

**/*.zip

# Office temporary files
*.tmp
~$*

# Thumbnails
Thumbs.db
